<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense System | Login</title>
    <link rel="stylesheet" href="./css/global.style.css">
    <link rel="stylesheet" href="./css/login.style.css">
    <script src="./js/login.js" defer></script>
</head>
<body> 
    <div class="login-box">
        <h1>Login</h1>
        <form id="form_login">
            <div class="row">
                <div class="col">
                    <label>Email:</label>
                    <input name="email" type="text" id="email_input" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Senha:</label>
                    <input name="senha" type="password" id="senha_input" required>
                </div>
            </div>
            <div class="row">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
    <script>
    </script>
</body>
</html>